@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Single+Day&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #D4E7C5;
}

header{
  margin: 25px;
    .header_top{
      background-color: white;
      padding: 10px 10px;
      display: flex;
      justify-content: space-between;
        .logo{
          font-family: 'Single Day', cursive;
          font-size: 3rem;
          text-decoration: none;
          color: #99BC85 ;
        }
       
        .top_right{
          display: flex;
          align-items: center;
          & *:hover{
            transform: scale(1.2);
          text-shadow: 1px 1px 1px #D4E7C5;
      }

          & a{
            text-decoration: none;
            color: #99BC85;
            padding: 0 20px;
          }
          & img{
            width: 20px;
            vertical-align: bottom;
          } 
        }
    }
    .header_bottom{
      background-color:#99BC85;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0.5rem;
      & a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #D4E7C5;
        padding: 0 2rem;
        transition: ease-in-out 250ms;
        &:hover{
          background-color: #D4E7C5 ;
          color: #99BC85;
        }
      }
    }
    
}
.content{
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  box-shadow: 3px 3px 5px #99BC85;
    h2{
      font-family: 'Single Day', cursive;
      font-size: 4rem;
      color: #99BC85;
      padding: 1rem;
      margin-left: 10%;
    }
    .recipe{
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 60% 40%;
      img{
        width: 100%;
        border-radius: 10%;  
      }
      .ingridiens{
        padding: 1rem 5rem;
        h3{
          color: #99BC85;
          font-size: 2rem;
          text-decoration: underline;
          text-transform: uppercase;
          margin-bottom: 2rem;
        }
        ul{
        list-style: circle;
        font-size: 1.5rem;
      }}
      .method{
        grid-column: 1/3;
        h3{
          color: #99BC85;
          font-size: 2rem;
          text-decoration: underline;
          text-transform: uppercase;
          padding:1rem;}
         p{
              font-size: 1.5rem;
              padding: 1rem;
            }
        }
      }
    }
 
    footer{
      margin: 25px;
      background-color: #99BC85;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        .navbar{
          width: 100%;
          display: inline-block;
          text-align: center;
          margin: 0 auto;
          padding: 1rem;
            a{
              width: 2rem;
              text-decoration: none;
              font-size: 1rem; 
              color:black;
              padding: 2rem;
              text-align: center;
            }
        }
        .social *{
          padding: 5%;
          height: 20%;
          width: 20%;
        }
      }